.appWrapper {
  text-align: center;
}
.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10rem 0 3rem 0;
  text-align: center;
}

.button {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 2rem;
  height: 3rem;
  border-radius: 7px;
  border: 2px solid #3c3e44;
  margin-bottom: 2rem;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
}
