.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 2rem;
  height: 3rem;
  border-radius: 7px;
  border: 2px solid #3c3e44;
  margin-bottom: 2rem;
}

.heading {
  font-size: 1.2rem;
}
